<%- include('partials/header') %>

<div class="content">
    <div class="heading">
        <h1>Data Testing Environment</h1>
        <img src="https://ebt.rs/wp-content/uploads/2021/04/logo_ebt-200.png" alt="">
    </div>
    <div class="top">
        <div class="stats">
            <%- include('partials/stats') %>
        </div>
    </div>

    <div class="pollution-chart-wrapper">
        <canvas id="pollution-chart"></canvas>
    </div>
    
    <button id="update-button">Update</button>
</div>

<script src="js/index.js"></script>

<%- include('partials/footer') %>
